<!-- <input [(ngModel)]="searchTerm" placeholder="Search posts" >
    <button (click)="onSearch()">Search Posts</button>
    <button (click)="cancelSearch()" [disabled]="!searchTerm">Cancel</button> -->
    
    <div class="input-group" style="left:50%; top: 50%; transform: translate( 10%, -250%);">
        <input class="form-control rounded" [(ngModel)]="searchTerm" placeholder="Search posts" aria-label="Search" aria-describedby="search-addon" />
        <button class="btn btn-outline-primary" data-mdb-ripple-init (click)="onSearch()">Search Posts</button>
        <button class="btn btn-outline-danger" data-mdb-ripple-init (click)="cancelSearch()" [disabled]="!searchTerm">Cancel</button>
      </div>